.button {
  
   background-color: white;
   color: gray;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: 4px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 4px solid black;
  cursor: pointer;
 
}

.button1 {border-radius: 2px;height: 70px;width: 70px;}
.button2 {border-radius: 2px;height: 50px;width: 100px;}
.button3 { height: 50px;  width: 100px;border-radius: 50%;}

.button4 
{
    border: 4px solid white;
	border-bottom: 50px d ;
	border-left: 25px solid white;
	border-right: 25px solid white;
	height: 0;
	width: 150px;
    }

.button5 {border-radius: 50%;height:50px ;width:50px;}
.button6 {	width: 100px;height: 50px;transform: skew(20deg);}
.button7{

	width: 0;
	height: 0;
    border: none;
	border-left: 25px solid white;
	border-right: 25px solid white;
	border-bottom: 50px solid #04AA6D;



}

.s1{
 animation-name: example;
  animation-duration: 4s;
}
.BE{
 animation-name:floatinButton ;
  animation-duration: 4s;
}
@keyframes floatinButton {

from {margin-top: 10px;}
 to{margin-top: 200px;}
}
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}