 .changecolor {
                   text-align: center;
                   border: 1px solid gray;
                   height: 100px;
                   width: 100px;
                    
                      
               }