.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  width: 600px;
  margin: auto;
}
.grid-item  {
  background-color: rgba(255, 255, 255, 0.8);
 
  padding: 5px;
  
}
.grid-item button{

    font-size: 30px;
   text-align: center;
   border: 1px solid rgba(0, 0, 0, 0.8);
   width: 100px;

}
#screen {

        padding: 10px;
         border: 10px solid  #2196F3;
         height: 70px;
         width: 600px;
         margin: auto;

}