 button{


          height:50px;
          width: 70px;
          
          margin-left: 20px;
          margin-top: 20px;
      }


    
    .heading{

           animation-name:anim ;
           animation-duration: 4s;
           animation-direction: alternate;
           animation-timing-function: linear;
           animation-iteration-count: infinite;


    }

 @keyframes anim {
  from {font-size: 45px;
        color: green; }
  to {font-size: 50px;
       color: skyblue;}
}

   .design{

       box-shadow: 5px 10px green; 
          opacity: 0.4;

   }
